@import '../shared/common-styles.scss';

#contact-link {
  background-color: white;
  padding-bottom: 40px;
  text-align: left;
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
}

.info {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-top: 0px;
}

.container {
  margin-bottom: 100px;
}

 .contact-input {
   width: 100%;
   textarea {
     height: 100px;
   }
 }