<div id="portfolio-link" [class.page-transition]="transitionService.isTransitioning()">
  <div class="container portfolio">
    <div class="project-row">
      <md-card class="project-card">
        <img src="http://res.cloudinary.com/dz9rf4hwz/image/upload/v1479232629/ccawlogomod_zugyah.png"
             md-card-image class="ccaw" alt="ccaw project">
        <md-card-content>
          <h3 class="text-center">Conference Management</h3>
          <p class="card-text">
            Conference management application built to manage speakers and scheduling
            for non-profit organization.
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button routerLink="/ccaw">DETAILS</button>
        </md-card-actions>
      </md-card>
      <md-card class="project-card">
        <img src="http://res.cloudinary.com/dz9rf4hwz/image/upload/v1470260927/logogood_wsyt4q.png"
             md-card-image class="shelley" alt="shelley site">
        <md-card-content>
          <h3 class="text-center">Shelley Pier Counseling</h3>
          <p class="card-text">
            Website for personal counseling business.
            Showcases specialties and provides form-based email contact.
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button routerLink="/shelley">DETAILS</button>
        </md-card-actions>
      </md-card>
      <md-card class="project-card">
        <img src="http://res.cloudinary.com/dz9rf4hwz/image/upload/v1496463615/dl_egcn8y.png"
             md-card-image class="site" alt="portfolio site">
        <md-card-content>
          <h3 class="text-center">Personal Site</h3>
          <p class="card-text">
              My personal portfolio-app website.
              Showcases my projects and information about me.
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button routerLink="/this-app">DETAILS</button>
        </md-card-actions>
      </md-card>
    </div>

  </div>
</div>