@import '../shared/common-styles';

#portfolio-link {
  width: 100%;
  min-height: 100vh;
}

.divider {
  margin-bottom: 30px;
}

.title {
  margin-bottom: 30px;
}

.portfolio {
  min-height: 100%;
}

.project-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-card {
  width: 300px;
  transition: 0.3s;
  img {
    height: 247px;
  }
  button {
    color: $primary-bright;
  }
  &:hover {
    box-shadow: 0 8px 10px 3px rgba(0,0,0,.2), 
                0 5px 5px 0 rgba(0,0,0,.14), 
                0 3px 10px 0 rgba(0,0,0,.12)
  }
}

.card-text {
  font-size: 15px;
}

.ccaw {
  background-color: hsl(0, 100%, 33%);
  padding: 10px;
  padding-top: 23px;
}
.shelley {
  background-color: hsl(211, 49%, 68%);
  height: 247px;
  padding: 30px 40px 30px 40px;
}
.site {
  background-color: $primary;
  padding: 80px 30px 80px 30px;
}

#me-link, #me-link:active {
  color: $primary;
  text-decoration: none;
  transition: 0.5s;
}

#me-link:hover {
  color: #2B252C;
  text-decoration: none;
}

#glow-link > .glow {
  transition: all 0.5s;
}

#glow-link:hover > .glow {
  color: $primary;
}

#portfolio-link #subtitle {
  padding: 20px 0px 20px 0px;
}

.divider {
  background-color: $primary;
  margin-top: -17px;
  width: 40%;
}

#top-row {
  padding-bottom: 15px;
}