<md-sidenav-container>
  <md-sidenav #sidenav mode="over" align="end">
    <md-list>
      <md-list-item>
        <button md-button
                routerLinkActive="active"
                (click)="sidenav.close()"
                routerLink="/portfolio">Projects</button>
      </md-list-item>
      <md-list-item>
        <button md-button
                routerLinkActive="active"
                (click)="sidenav.close()"
                routerLink="/about-me">About</button>
      </md-list-item>
      <md-list-item>
        <button md-button
                routerLinkActive="active"
                (click)="sidenav.close()"
                routerLink="/posts">Posts</button>
      </md-list-item>
      <md-list-item>
        <button md-button
                routerLinkActive="active"
                (click)="sidenav.close()"
                routerLink="/contact">Contact</button>
      </md-list-item>
    </md-list>
  </md-sidenav>

<md-toolbar color="primary" [ngClass]="navBarBg()">
  <md-spinner class="loader" color="accent" *ngIf="this.transitionService.isLoading()"></md-spinner>
  <img src="http://res.cloudinary.com/dz9rf4hwz/image/upload/v1468707722/IMG_20151006_123225_3_ifvhtj.jpg"
    alt="Portfolio Pic" 
    class="portfolio-pic name">
  <button md-button class="name" routerLink="/">
    <span class="logo-text">
      <span class="name-text">
        <span class="name-acc">{{'<'}}</span>DANNY LIBIN<span class="name-acc">{{'/>'}}</span>
      </span>
      <span class="job-desc">Web Application Developer</span>
    </span>
  </button>
  <span class="spacer"></span>
  <button md-button class="nav-button"
          routerLinkActive="active"
          routerLink="/portfolio">Projects</button>
  <button md-button class="nav-button" 
          routerLinkActive="active"
          routerLink="/about-me">About</button>
  <button md-button class="nav-button" 
          routerLinkActive="active"
          routerLink="/posts">Posts</button>
  <button md-button class="nav-button" 
          routerLinkActive="active"
          routerLink="/contact">Contact</button>
  <button md-icon-button class="sidenav-btn" (click)="sidenav.open()">
    <md-icon>menu</md-icon>
  </button>
</md-toolbar>

<router-outlet></router-outlet>

  <!-- Contact -->
  <div id="contact-link">
    <h4 id="contact-text">Want to work with me, or just chat? I'd be happy to hear from you!</h4>
    <div id="contact-icons">
      <a href="https://twitter.com/Dayn1l" target="_blank"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
      <a href="https://github.com/Daynil" id="git" target="_blank"><i class="fa fa-github-square fa-3x"></i></a>
      <a href="https://www.linkedin.com/in/danny-libin-154055105/" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
    </div>
    <div>
      <p class="copyright">Copyright © Danny Libin {{ thisYear }}. All rights reserved.</p>
    </div>
  </div>
</md-sidenav-container>