<md-toolbar color="primary" class="nav-bar">
  <img src="http://res.cloudinary.com/dz9rf4hwz/image/upload/v1468707722/IMG_20151006_123225_3_ifvhtj.jpg"
    alt="Portfolio Pic" 
    class="portfolio-pic name">
  <button md-button class="name">
    <span class="logo-text">
      <span class="name-text">
        <span class="name-acc">{{'<'}}</span>DANNY LIBIN<span class="name-acc">{{'/>'}}</span>
      </span>
      <span class="job-desc">Web Application Developer</span>
    </span>
  </button>
  <span class="spacer"></span>
  <button md-button class="nav-button">Projects</button>
  <button md-button class="nav-button">About</button>
  <button md-button class="nav-button">Contact</button>
</md-toolbar>