@import './shared/common-styles.scss';

.loader {
  width: 50px;
  position: absolute;
}

.normal-nav-bar {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  z-index: 2;
  position: relative;
}

.home-nav-bar {
  background: linear-gradient(180deg,hsla(0, 0%, 0%, 0.25) 0,hsla(0, 0%, 0%, 0));
  z-index: 2;
  position: relative;
}

.active {
  color: $accent;
}

.logo-text {
  display: inline-flex;
  flex-direction: column;
  text-align: left;
}

.portfolio-pic {
  border-radius: 50%;
  width: 80px;
  position: relative;
  top: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.spacer {
  flex: 1 1 auto;
}

.name {
  position: relative;
  left: 15%;
}

.name-text {
  height: 25px;
  font-size: 20px;
  font-family: "Roboto Mono";
}

.name-acc {
  color: $accent;
  transition: 0.3s;
}

button.name:hover {
  .name-acc {
    color: white;
  }
}

.job-desc {
  font-weight: 400;
}

.nav-button {
  position: relative;
  right: 15%;
  font-size: 16px;
  font-weight: 300;
}