/* You can add global styles to this file, and also import other style files */

// Starting theme

#load-bar {
	width: 100vw;
	height: 8px;
	animation: color 1s ease-in-out infinite;
}

@keyframes color {
	100%, 0% {
		background-color: hsl(204, 30%, 46%);
	}
	50% {
		background-color: hsl(204, 85%, 54%);
	}
}